all_regions.csv
df_filtered_drom.csv
thoughts.ipynb
camry.csv
corr_analyzis.png
df_processed.csv
camry_processed.csv
linear_camry.png
linear_metrics.png
dataset
red_heart.jpg
data.csv
dialogues.tsv
profiles.tsv